#body{
    display: flex;
    background-color: antiquewhite;
    margin: 1px;
    padding: 2%;
    border: 2px;
    /* justify-content: center; */
    
}

#cart-name{
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;color: rgb(235, 166, 55);
    border: 4px;
    font-size:48px
}
#navbar{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    min-width: 4px;
    align-items: baseline;
}
#navbar-button{
    display: inline;
    justify-content: space-around;
    
}